<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>GlitchHub Snippets</title>
    {% endif %}
</head>

<body>
    <header>
        <div
            class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">GlitchHub Snippets</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{ url_for('main.index') }}">Home</a>
                <a class="p-2 text-dark" href="{{ url_for('main.about') }}">About</a>
                {% if current_user.is_authenticated %}
                <a class="p-2 text-dark" href="{{ url_for('main.user_detail', id=current_user.id) }}">
                    My Profile <b>[{{ current_user.username }}]</b></a>
                <a class="p-2 text-dark" href="{{ url_for('users.logout') }}">Logout</a>
                {% endif %}
            </nav>
            {% if current_user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{{ url_for('posts.create_post_detail' )}}">New Snippet</a>
            {% else %}
            <a class="btn btn-outline-primary" href="{{ url_for('users.register' )}}" style="margin-right: 15px">Sign
                up</a>
            <a class="btn btn-outline-primary" href="{{ url_for('users.login' )}}">Sign In</a>
            {% endif %}
        </div>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>