{% extends "base.html" %}
{% block content %}
<div>
    <h2>New Code Snippet</h2>
</div>
<div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-md") }}

            {% if form.title.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            <div>
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control form-control-lg", style="min-height: 550px;") }}
            </div>
            <br>
            <div>
                {{ form.submit(class="btn btn-block btn-primary") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}