{% extends "base.html" %}
{% block content %}
<div>
    <h1>Create new comment <small>(Markdown Supported)</small></h1>
</div>
<div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.text(class="form-control form-control-lg", style="min-height: 600px") }}
        </div>
        <br>
        <div>
            {{ form.submit(class="btn btn-block btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}