{% extends "base.html" %}
{% block content %}
<div>
    <h1>GlitchHub Snippets</h1>
    <br>
</div>

<div class="list-group">
    {% for post in posts %}
    <div class="card mb-4 shadow-sm" style="cursor: pointer;" data-href="{{ url_for('posts.post_detail', id=post.id) }}"
        onclick="location.href=this.getAttribute('data-href');">
        <div class="card-body">
            <p class="card-text">{{ post.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    {{ post.author.username }}
                </small>
                <small class="text-muted">
                    {{ post.date.strftime('%b %d, %Y at %I:%M %p') }}
                </small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}