{% extends "base.html" %}
{% block content %}
<div>
    <h2>Multi-Factor Authentication Confirm Page</h2>
    <div class="alert alert-danger" role="alert">
        Please note this page CANNOT be accessed later.
    </div>
    <p>
        Everytime when you login our website, you need to use our Multi-Factor Authentication. Please use Google
        Authenticator to scan this QR code.
    </p>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data={{ qrcode }}" alt="">
    <div>
        If you completed the steps above, <a href={{ url_for('users.login') }}>Log In!</a>
    </div>
</div>
{% endblock %}