{% extends "base.html" %}
{% block content %}
<article class="content-section">
    <div>
        <h3 style="margin-bottom: 15px">{{ post.title }}</h3>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">
                {% if current_user.id == post.author.id %}
                <a href={{ url_for('posts.edit_post', id=post.id) }}>
                    Edit
                </a>
                {% else %}
                <a href={{ url_for('main.user_detail', id=post.author.id) }}>
                    {{ post.author.username }}
                </a>
                {% endif %}
            </small>
            <small class="text-muted">
                {{ post.date.strftime('%b %d, %Y at %I:%M %p') }}
            </small>
        </div>
        <hr>
        <p>{{ post.content | markdown }}</p>
    </div>
</article>
<br>
<hr>
<br>
{% if current_user.is_authenticated %}

<h3>Comments <small>({{ comments | length }})</small></h3>
<br>
<div class="list-group">
    {% for comment in comments %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            {{ comment.content | markdown }}
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    <a href={{ url_for('main.user_detail', id=comment.author.id) }}>
                        {{ comment.author.username }}
                    </a>
                </small>
                <small class="text-muted">
                    {{ comment.date.strftime('%b %d, %Y at %I:%M %p') }}
                </small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<a class="btn btn-primary btn-block" href="{{ url_for('posts.create_comment', id=post.id) }}">Create Comment</a>
{% else %}
<h3>
    To view or send comments, please login first
</h3>
{% endif %}

{% endblock %}