{% extends "base.html" %}
{% block content %}
<div>
    <h2>Registration</h2>
</div>
<div>
    If you are registered, just <a href={{ url_for('users.login') }}>Log In!</a>
</div>
<!-- Registration Form: -->
<div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label(class="form-control-label green-text") }}
            {{ form.username(class="form-control form-control-md") }}

            {% if form.username.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>
            {{ form.email.label(class="form-control-label green-text") }}
            {{ form.email(class="form-control form-control-md") }}

            {% if form.email.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}

            {% if form.password.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>
            {{ form.confirm_pwd.label(class="form-control-label") }}
            {{ form.confirm_pwd(class="form-control form-control-lg") }}
        </div>
        <br>
        <div>
            {{ form.submit(class="btn btn-block btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}