{% extends "base.html" %}
{% block content %}
<div>
    <h2>{{ user.username }}</h2>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>All Snippets</h3>
            <div class="list-group">
                {% for post in posts %}
                <div class="card mb-4 shadow-sm" style="cursor: pointer;"
                    data-href="{{ url_for('posts.post_detail', id=post.id) }}"
                    onclick="location.href=this.getAttribute('data-href');">
                    <div class="card-body">
                        <p class="card-text">{{ post.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">
                                {{ post.author.username }}
                            </small>
                            <small class="text-muted">
                                {{ post.date.strftime('%b %d, %Y at %I:%M %p') }}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <h3>All Comments</h3>
            <div class="list-group">
                {% for comment in comments %}
                <div class="card mb-4 shadow-sm" style="cursor: pointer;"
                    data-href="{{ url_for('posts.post_detail', id=comment.post.id) }}"
                    onclick="location.href=this.getAttribute('data-href');">
                    <div class="card-body">
                        {{ comment.content | markdown }}
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">
                                <a href={{ url_for('main.user_detail', id=comment.author.id) }}>
                                    {{ comment.author.username }}
                                </a>
                            </small>
                            <small class="text-muted">
                                {{ comment.date.strftime('%b %d, %Y at %I:%M %p') }}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}